<% form_for [:admin, @subscriber] do |f| %>
  <%= f.error_messages %>
  
  <div class="form_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="form_field">
    <%= f.label :email %>
    <%= f.text_field :email%>
  </div>
  
  <div class="form_field">
   <%= f.submit @subscriber.new_record? ? "Create" : "Update" %>
   <%= link("Cancel", root_path, 'cancel')%>
  </div>
<% end %>