<% form_for [:admin, @subscriber] do |f| %>
  <%= f.error_messages %>
  
  <div class="form_field">
    <%= f.label :name, Subscriber.human_attribute_name(:name) %>
    <%= f.text_field :name %>
  </div>
  
  <div class="form_field">
    <%= f.label :email, Subscriber.human_attribute_name(:email) %>
    <%= f.text_field :email%>
  </div>
  
  <div class="form_field">
   <%= f.submit submit_label(@subscriber)%>
   <%= link("forms.cancel", admin_subscribers_path, 'cancel')%>
  </div>
<% end %>