<h1><%= t('titles.list', :model => "Subscriptore") %></h1>
<%= link("forms.new", new_admin_subscriber_path, 'add')%>

<% header = ['Name', 'Email', 'Actions']%>
<% options = {:attributes => ['name', 'email'], :actions => [:destroy]} %>
<%= render :partial => 'shared/table', :locals => {:header => header, :options => options, :objects => @subscribers }%>

<%= will_paginate @subscribers %>

<%= link("forms.back", dashboard_path)%>