<ul>
	<li><%= link_to('Dashboard', dashboard_path)%></li>
	<li><%= link_to('Subscribers', admin_subscribers_path)%></li>
	<li><%= link_to('Products', admin_products_path)%></li>
	<li><%= link_to('Categories', admin_categories_path)%></li>
	<li><%= link_to('Banners', admin_banners_path)%></li>
	<li><%= link_to('View Site', root_path)%></li>
</ul>