<ul>
  <li><%= link_to(t('navigation.dashboard'), admin_path)%></li>
  <li><%= link_to(t('navigation.subscribers'), admin_subscribers_path)%></li>
  <li><%= link_to(t('navigation.products'), admin_products_path)%></li>
  <li><%= link_to(t('navigation.categories'), admin_categories_path)%></li>
  <li><%= link_to(t('navigation.banners'), admin_banners_path)%></li>
  <li><%= link_to(t('navigation.view_site'), root_path)%></li>
</ul>