<table>
   <tbody>
      <tr>
	   	<%= render :partial => 'shared/table_header', :collection => header%>
	   </tr>
	   <% objects.each_with_index do |object, index| %>
	      <tr class="<%=  index % 2 == 0 ? 'even' : 'odd' %>">
	         <% options[:attributes].each do |attribute| %>
      	   	<td>
      	   		<%= truncate_result(object.send(attribute),30) %>
      	   	</td>
      	   <% end %>
      	   
      	   <% if options[:actions] %>
      	      <td class="last">
      	   		<% options[:actions].each do |action| %>
      	   		   <%= link_to(image_tag('famfamfam/eye.png'), [:admin, object], :title => "Show") if /show/i.match action.to_s %>
      	   		   <%= link_to(image_tag('famfamfam/pencil.png'), self.method("edit_admin_#{object.class.name.underscore}_path").call(object), :title => "Edit") if /edit/i.match action.to_s %>
            	   	<%= link_to(image_tag('famfamfam/delete.png'), [:admin, object],:confirm => 'Are you sure?', :method => :delete, :title => "Remove") if /destroy/i.match action.to_s %>
            	   <% end %>
      	   	</td>
      	   <% end %>
	      </tr>
	   <% end %>
	</tbody>
</table>