<div class="menu">
  <ul>
    <li class="<%= selected_controller?('pages')    %>"><%= link_to(t('navigation.home'), root_path)%></li>
    <li class="<%= selected_controller?('products') %>"><%= link_to(t('navigation.products'), products_path)%></li>
    <li class="<%= selected_controller?('contact')  %>"><%= link_to(t('navigation.contact'), contact_index_path)%></li>
  </ul>
</div>