<% form_for [:admin, @product], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <div class="form_field">
    <%= f.label :category_id %>
    <%= f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, {:prompt => 'Select a category'} %>
    <%#= f.select :category_id, @categories.map{|category| [category.name, category.id]}, {:prompt => 'Select a category'} %>
  </div>
  
  <div class="form_field">
    <%= f.label :product_tags %>
    <%= f.text_field :product_tags %>
  </div>
  
  <div class="form_field">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>
  
  <div class="form_field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div class="form_field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>  

  <div class="form_field">
    <%= f.label :additional_information %>
    <%= f.text_area :additional_information %>
  </div>
  
  <% unless @product.images.empty? %>
    <div id="form_field">
      <h3>Delete Images</h3>
      <p class="tip">Select the images to be deleted and hit save</p>
      <% f.fields_for :images, @product.images do |ff|%>
        <%= ff.check_box :_delete %>
        <%= image_tag(ff.object.graphic.url(:small_thumb) ) %>
      <% end %>
    </div>
  <% end %>
  
  <div class="form_field">
    <% f.fields_for :images, 5.times.inject([]){ |acc, elem| acc << ProductImage.new} do |ff|%>
       <%= ff.label :graphic %>
       <%= ff.file_field :graphic %>
    <% end %>
  </div>

  <div class="form_field">
   <%= f.submit @product.new_record? ? "Create" : "Update" %>
   <%= link("Cancel", admin_products_path, 'cancel')%>
  </div>
<% end %>