<p>
  <%= label_tag :name %><br />
  <%= @product.name%>
</p>

<p>
  <%= label_tag :description %><br />
  <%= @product.description %>
</p>

<p>
  <%= label_tag :price %><br />
  <%= @product.price %>
</p>  

<p>
  <%= label_tag :additional_information %><br />
  <%= @product.additional_information %>
</p>