<div id="product-wrapper">
  <%= render :partial => "shared/products/images_widget/images_widget", :locals => {:product => @product} %>
  <div id="product_information">
    <h1><%= h @product.name %></h1>
    
    <% if @product.price && !@product.price.blank? %>
      <p><%= Product.human_attribute_name(:price) %>: <span class="price"><%= h @product.price %></span></p>
    <% end %>
    
    <h3><%= Product.human_attribute_name(:description) %></h3>
    <p>
      <%= h @product.description %>
    </p>
    
    <% if @product.additional_information && !@product.additional_information.blank? %>
      <h3><%= Product.human_attribute_name(:additional_information) %></h3>
      <div clas="additional_information">
        <%= RedCloth.new(@product.additional_information).to_html %>
      </div>
    <% end %>
    
  </div>
</div>