<h1>Welcome</h1>
<h2>Login</h2>

<% form_for [:admin, @user_session] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'email'%>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'password' %>
  </p>
  <p><%= f.submit "Login" %></p>
<% end %>