<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= CATALOG_CONFS['company']['name']%></title>

  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= stylesheet_link_tag 'admin/reset/reset' %>
  
  <script type="text/javascript">
    var _ = jQuery.noConflict();
  </script>
  
  <%= stylesheet_link_tag 'site/styles' %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <%= CATALOG_CONFS['company']['name']%>
      </h1>
      <h2>
        <%= CATALOG_CONFS['company']['slogan']%>
      </h2>
      
      <div id="navigation">
        <%= render :partial => 'shared/navigation/site_navigation' -%>
      </div>
    </div>

    <div id="content">
      <div id="content_wrapper">
        <%= render :partial => 'shared/flashes' -%>
        <div id="banner">
          <%= yield :banner %>
        </div>
        <div id="page-content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render :partial => 'shared/company_info' -%>
    </div>
  </div>

  <%= render :partial => 'shared/javascript' %>
</body>
</html>